<%if user_signed_in?%>
<%= form_with model:[@photo, @comment] do |form| %>
<h2>Add your comments:</h2>
<div class="form-control">
  <div class="search">
    <%= form.label "Text comment" %>
    <%= form.text_field :body %>
  </div>
    <div class='btn'>
      <%=form.submit "Send comment", class:'btn btn-success'%>
    </div>
</div>
<% end %>
<%end%>