  <%if policy(@comment).create?%> 
    <%= form_for [commentable, Comment.new] do |form| %>
      <div class="field">
        <%= form.text_field :body, class: 'form-control', placeholder: 'input your comment'%>
      </div>
      <div class='btn'>
        <%=form.submit "Send comment", class:'btn btn-success'%>
      </div>
      <%=form.hidden_field :photo_id, value: commentable.is_a?(Photo) ? commentable.id : commentable.photo_id  %>
    <% end %>
  <%end%>