<h1>Edit comment</h1>

<%= form_with model:[@photo, @comment] do |form| %>
<div class="form-control">
  <div class="search">
    <%= form.label "Text comment" %>
    <%= form.text_field :body %>
  </div>
    <div class='btn'>
      <%=form.submit "Confirm", class:'btn btn-success'%>
    </div>
</div>
<% end %>