<%= form_for :search, method: :get, url: users_photos_url, html: {class: "row g-3 mt-1", id: "form-search"} do |f| -%>
  <div class="col-md-9">
      <%= text_field_tag :q, @search.q, placeholder: 'Search...', class: 'form-control' %>
  </div>
  <div class="col-md-2">  
    <%= select_tag :sort, options_for_select([
      ["Pending", 'pending'],
      ["Published", 'published'],
      ["Rejected", 'rejected'],
      ], @search.sort), include_blank: "Select sort...", class: "form-select" %>
  </div>
  <div class="col-auto">  
    <%= f.submit 'Go', class: "btn btn-primary", id: "go" %>
  </div>
<% end -%>