<h1>Personal cabinet: </h1>
  <div class='mb-3'>
    <%= link_to "Add photo", new_users_photo_path, class: 'btn btn-success', id: "add" %>
    <%= link_to "Edit profile", edit_user_registration_path, class: 'btn btn-warning' %>
    <%= link_to "Show my photos", users_photos_path, class: 'btn btn-warning', id: "show"%>
    <%= link_to "Generate API key", "#", class: 'btn btn-warning'%>
  </div>
  <div id="photos">
  </div>

     <div class="modal">
        <div class="modal__dialog">
            <div class="modal__content">
              <div data-close class="modal__close">&times;</div>
              <div class="modal__title">Rate my photos</div>
              <div class='content'></div>
            </div>
        </div>
    </div>

    <script>
      const modalContent = document.querySelector('.content');
      const modal = document.querySelector('.modal');
      const modalCloseBtn = document.querySelector('[data-close]');

      function closeModal() {
          modal.classList.add('hide');
          modal.classList.remove('show');
          document.body.style.overflow = '';
      }

      function openModal() {
          modal.classList.add('show');
          modal.classList.remove('hide');
          document.body.style.overflow = 'hidden';
      }

      modalCloseBtn.addEventListener('click', closeModal);

      modal.addEventListener('click', (e) => {
          if (e.target === modal) {
              closeModal();
          }
      });

      document.addEventListener('keydown', (e) => {
          if (e.code === "Escape" && modal.classList.contains('show')) {
              closeModal();
          }
      });
      </script>

  <style>
  .modal{
    position:fixed;
    top:0;
    left:0;
    z-index:1050;
    display:none;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:rgba(0,0,0,.5)
  }

  .modal__dialog{
    max-width:500px;
    margin:40px auto
  }

  .modal__content{
    position:relative;
    width:100%;
    padding:40px;
    background-color:#fff;
    border:1px solid rgba(0,0,0,.2)
    ;border-radius:4px;
    max-height:80vh;
    overflow-y:auto
  }

  .modal__close{
    position:absolute;
    top:8px;
    right:14px;
    font-size:30px;
    color:#000;opacity:.5;
    font-weight:700;
    border:none;
    background-color:transparent;
    cursor:pointer
  }

  .modal__title{
    text-align:center;
    font-size:22px;
    text-transform:uppercase
  }

  .modal__input{
    display:block;
    margin:20px auto 20px auto;
    width:280px;
    height:50px;
    background:#fff;
    box-shadow:0 4px 15px rgba(0,0,0,.2);
    border:none;font-size:18px;
    text-align:center;
    padding:0 20px;
    outline:0
  }
    .show{
    display: block
  }

  .hide{
    display: none
  }
</style>