<form>
<%if user_signed_in?%>
  <% pre_like = @photo.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
      <%= link_to 'Unlike', photo_like_path(@photo, pre_like), method: :delete, class: "btn btn-danger"%>
    <% else %>
      <%= link_to 'Like', photo_likes_path(@photo), method: :post, class: "btn btn-success" %>
    <% end %>
<%end%>
</form>