<footer class="page-footer font-small unique-color-dark pt-4">
  <div class="container">
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <%= link_to "Register", new_user_registration_path, class: "btn btn-inverse"%>
      </li>
    </ul>
  </div>
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <span> NIKTEXNIK </span>
  </div>
</footer>