  <div class="modal" data-modal>
    <div class="modal__dialog">
        <div class="modal__content">
          <div data-close class="modal__close">&times;</div>
          <div class="modal__title">Rate my photos</div>
          <div class='content'></div>
        </div>
    </div>
  </div>