<% name = current_user.present? ? current_user.email : 'Anonimus'%>
<h1>Welcome, <%=name %>!</h1>
<%= @photos.each do |photo| %>
<div>
<h2><%=photo.description%></h2>
<p>
<div><%= image_tag  photo.image.url(:large), {:class => 'img-fluid img-thumbnail'}%></div> 
<%end%>